* {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
}

#Login {
  color: white;
  background: linear-gradient(145deg, rgba(0, 0, 0, 1) 18%, rgba(66, 75, 83, 1) 100%);
}

#Login form input:focus,
#Reg form input:focus {
  outline: none;
}

#Login form .email div:focus {
  outline: 3px solid yellow;
}

#Login form button,
#Reg form button {
  background: #1f2427;
  border-radius: 8px;
  transition: all 0.3s ease-out;
}

#Login form button:hover,
#Reg form button:hover {
  background-color: white;
  color: black !important;
}

.adjust {
  margin-bottom: 10px;
  margin-right: -5px;
}

.card-img-top {
  height: 350px;
}

.pagination {
  width: 100%;
  justify-content: center;
}

.pagination button {
  width: 40px;
  height: 40px;
  font-weight: 600;
  font-size: 18px;
  margin: 0 10px;
  border-radius: 6px;
  cursor: pointer;
  border: #b16262;
  transition: all 0.3s ease;
}

.pagination button.active {
  font-weight: 900;
  border-color: black;
  background-color: rgb(214, 226, 38);
  color: black;
}

.fullH {
  height: 100vh;
}

.details h1 {
  margin-bottom: 20px;
  text-decoration: underline;
}

.form-control.me-2 {
  width: 100vh;
}

.d-flex.searchForm {
  position: relative;
  right: 150px;
}

.header {
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dropdownBtn {
  margin-left: 30px;
  padding: 12px 20px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  border: 0;
  width: 250px;
  position: absolute;
  top: 300px;
}

.forPosition {
  position: relative;
  width: 100%;
  justify-content: space-around;
}

.searchResult {
  position: absolute;
  padding: 0 15px;
  top: 48px;
  width: 300px;
  margin-left: 5px;
  z-index: 999;
  background-color: aliceblue;
  font-weight: 400;
  color: #333;
}

.header .header-content {
  background: #141414;
  top: 399px;
  height: 70px;
  z-index: 1;
}

.bgcolor {
  background: url('../public/game_of_thrones_17-wallpaper-1366x768.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  /* background-size: cover; */

}

#backgroundC {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

#Login .img {
  background: url('../public/wolverine.jpg');
  width: 750px;
  height: calc('100vh - 10px');
  background-position: top center;
  margin: 10px;
  border-radius: 24px;
}

#Reg {
  background: url('../public/the_last_of_us_tv.jpg');
  width: 100%;
  height: 100vh;
}

#Reg form {
  width: 32%;
}

.header .header-content .dropdown .dropMenu {
  right: -22px;
  bottom: -110px;
  width: 146px;
  color: white;
  background: #111111;
  line-height: 2;
  margin: 0;
  list-style: none;
  padding: 10px 0;
}

.header .header-content .dropdown .dropMenu li {
  cursor: pointer;
}

.header .header-content .dropdown .dropMenu li:hover {
  background-color: #333;
}

.header .header-content .d-flex a button:hover {
  color: #b9b3b3 !important;
}

.Loading_Bg {
  background: url('../public/unsplash.jpg');
  height: 100vh;
  width: 100%;
  position: absolute;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(203, 217, 228);
  border: 5px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}